*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #05284C;
    color: white;
}
#contenedor{
    background-color: #05284C;
    box-shadow: black 20px 30px 200px;
    width: 700px;
    padding: 25px 100px;
    height: 500px;
    margin: 5% 20% 5% 20%;
    border-radius: 40px;
    position: relative;
}
#resultado {
    border: #39FB90 solid;
    text-align: center;
    padding: 100px 0 100px 0;
    margin-top: 30px;
    border-radius: 25px;
}
#resultadoFinal {
    font-size: 100px;
}
#text{
    margin-top: 30px;
    font-size: 35px;
}
#botonReset{
    background-color: #05284C;
    border-radius: 10px;
    border: #39FB90 solid;
    color: white;
    width: 150px;
    height: 50px;
    position: absolute;
    left: 370px;
    margin-top: 25px;
    transition:  800ms ease;
}
#botonReset:hover {
    width: 250px;
    height: 50px;
    position: absolute;
    right: 80px;
    background-color: #39FB90;
    transform: scale(1.1);
    left: 320px;   
}